body{
    background-color: rgb(245, 222, 225);
}

h1 {
    color: #d55b3e;
    font-size: 60px;
    margin: 0;
    background-color: white;
    margin-right: 10%;
    margin-left: 10%;
}

h3 {
    margin: 0;
    font-size: 20px;
    background-color: white;
    padding: 10px;
    margin-right: 10%;
    margin-left: 10%;
}

#shape {
    width: 200px;
    height: 200px;
    display: none;
    position: relative;
}

